*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header, section, footer{
    width: 100%;
}

.container{
    margin: 0px 10rem;
    padding: 3rem 0 8rem 0;
}

.hero-block, footer{
    background-color: #1F2937;
}

.hero-block .container{
    padding-top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
    padding-top: 1rem;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

a{
    text-decoration: none;
}

.logo{
    margin-right: 1em;
    color: #F9FAF8;
    font-size: 24px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 250px;
    gap: 2rem;
}

.hero-text{
    text-align: left;
    flex: 1;
    
}

.title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub-text{
    margin-bottom: 0.5rem;
}

.sub-text, a, .footer-text, .hero-image{
    color: #E5E7EB;
    font-size: 18px;
}

button, .cta-graphic{
    background-color: #3882F6
}

button{
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    color: #E5E7EB;
}

.cta-graphic button{
    border: 2px solid #E5E7EB;
}

.hero-image{
    background-color: grey;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cards-title{
    margin-bottom: 3rem;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;  
}

.cards-group figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 0.5rem;
}

.card{
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.quote-block{
    background-color: #E5E7EB;
}

.quote-block .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.quote-box{
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: right;
    gap: 1rem;
}

quote{
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.quote-name{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.cta-block .container{
    padding-top: 8rem;
}

.cta-graphic{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 2rem 5rem;
    border-radius: 8px;
    gap: 2rem;
    flex: 1 0 auto;
    color: #E5E7EB;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}