*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

header, section, footer{
    width: 100%;
    border: 2px solid blue;
}

.container{
    margin: 0px 10rem;
    /* border: 2px solid red; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
    padding-top: 1rem;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

a{
    text-decoration: none;
}

.logo{
    margin-right: 1em;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 250px;
}

.hero-text{
    text-align: left;
    border: 2px solid pink;
    flex: 1;
    
}

.hero-image{
    background-color: grey;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex: 1;
}