*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

header, section, footer{
    width: 100%;
    border: 2px solid blue;
}

.container{
    margin: 0px 10rem;
    
    border: 2px solid red;
}

nav{
    border: 2px solid pink;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

a{
    text-decoration: none;
}

.logo{
    padding-right: 1em;
}
